<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>渠道成交报表</title>
	<meta charset="utf-8" />
</head>
<body>
    <h5 style="font-size:18px;letter-spacing:5px;padding:0 20px;color:#999;">
        页面正在开发中...
    </h5>
    <!--option = {
        title: {
            text: '基础雷达图'
        },
        tooltip: {},
        radar: {
            name: {
                textStyle: {
                    color: '#fff',
                    backgroundColor: '#999',
                    borderRadius: 3,
                    padding: [3, 5]
                }
            },
            indicator: [
            { name: '渠道总数', max: 6500},
            { name: '渠道销售人员总数', max: 16000},
            { name: '总使用素材数', max: 30000},
            { name: '总素材转发量', max: 38000},
            { name: '总素材浏览量', max: 52000},
            { name: '总报名人数', max: 25000},
            { name: '总参课量', max: 52000}
            ]
        },
        series: [{
            name: '预算 vs 开销（Budget vs spending）',
            type: 'radar',
            data : [
                {
                    value : [4300, 10000, 28000, 35000, 50000, 19000, 19000],
                    name : '销售员分享素材详细图表',
                    label: {
                        normal: {
                            show: true,
                            formatter:function(params) {
                                return params.value;
                            }
                        }
                    }
                }
            ]
        }]
    };-->
</body>
</html>
