
@{
    ViewBag.Title = "员工列表";
}
@section customStyle{}
<!-- 主标题 begin -->
<div class="ov-tit ov-line rel clearfix">
    <h1 class="ov-theme">员工列表</h1>
    <div class="search_ul">
        <select class="form-control search_userType" id="I_search_companyId">
            <option value="">--所有公司--</option>
        </select>
        <select class="form-control search_userType" id="I_search_departmentId">
            <option value="">--所有部门--</option>
        </select>
        <select class="form-control search_userType" id="I_search_active">
            <option value="">--所有--</option>
            <option value="1">在职</option>
            <option value="0">离职</option>
            <option value="2">辞退</option>
        </select>
        <input type="text" class="form-control" id="I_search_name" placeholder="请输入姓名">
        <a class="search_ul_a" id="search_button">查询</a>
    </div>
</div>
<!-- 主标题 end -->
<!-- 内容表格 begin -->
<div class="ov-form table-responsive I_department_form">
    <!-- 按钮组 -->
    <div class="ov_btn">
        <div class="fr">
            <span class="ov-add">总页数<span class="number0" id="I_TotalPage">0</span>，当前条数<span class="number0" id="I_pageSize">0</span>条</span>
        </div>
    </div>
    <!-- 表格数据 -->
    <table class="table table-striped table-bordered table_auto" id="I_department">
        <thead>
        </thead>
        <tbody></tbody>
    </table>
    <!-- 分页 begin -->
    <div class="ov-page">
        <div id="layui_page"></div>
    </div>
    <!-- 分页 end -->
</div>
<!-- 内容表格 end -->
<!-- 修改带薪假 -->
<div class="ov-edit modal fade I_modal" id="edit_holiday" tabindex="-1" role="dialog">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_holiday_title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_holiday_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">取消</button>
                <button type="button" id="btn_save_holiday" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>


<!-- 修改核算单位 -->
<div class="ov-edit modal fade I_modal" id="edit_finance" tabindex="-1" role="dialog">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_finance_title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_finance_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">取消</button>
                <button type="button" id="btn_save_finance" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

<!-- 修改银行卡 -->
<div class="ov-edit modal fade I_modal" id="edit_card" tabindex="-1" role="dialog">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_card_title"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_card_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" id="btn_save_card_lock" class="btn btn-danger auto_width">保存并申请锁定</button>
                <button type="button" id="btn_save_card" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>

@* 查看审核 *@
<div class="ov-add modal fade I_modal" id="ApproveLog_Modal">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title"><span></span>调薪记录</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_ApproveLog_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button"  data-dismiss="modal" aria-label="Close" class="btn btn-default">关闭</button>
                @*<button type="button" id="Import_primary" class="btn btn-primary ">确定</button>*@
            </div>
        </div>
    </div>
</div>


@* 验证码 *@
<div class="ov-add modal fade I_modal" id="identifying_code">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title"><span></span>验证</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_identifying_code_from">
                    <div class="form-group">
                        <label id="add_lbl_DepartmentName" class="col-md-3 control-label">&nbsp;</label>
                        <div class="col-md-8">
                            <input class="" id="user_check_code" style="border: 1px solid #999;border-radius: 5px;margin: 0 10px 0 0;padding: 2px 10px;" type='text' />
                            <input type="hidden" id="employeeId" />
                            <button type="button" id="send_check_code" style="width:100px;padding: 5px 10px;margin: 0;line-height: 20px;" class="btn btn-default">发送验证码</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">关闭</button>
                <button type="button" id="btn_save_identifying_code" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>
@* 工资 *@
<div class="ov-add modal fade I_modal" id="show_salary">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title"><span></span>审核进度</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_salary_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default">关闭</button>
            </div>
        </div>
    </div>
</div>

@section customScript{



    <script>
        // 表格数据
        var currentPage = 1; //当前页数
        var page_first = 0; //第一次获取列表数据
        var page_count = 0; //总条数
        var editID = ''; //编辑id
        // 翻页
        function GetAppendData() {
            showLoad();
            var compangId = $('#I_search_companyId').val();
            var departmentId = $('#I_search_departmentId').val();
            var active = $('#I_search_active').val();
            var trueName = $('#I_search_name').val();
            var pageSize = 10;  //每页显示的条数
            var pageIndex = currentPage;

            $.ajax({
                type: 'GET',
                url: '/Employee/GetEntity',
                data: {
                    'CompanyId': compangId,
                    'departmentId': departmentId,
                    'active': active,
                    'trueName': trueName,
                    'pageSize': pageSize,
                    'pageIndex': pageIndex
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if (data.ResultType == 200) {
                        var data_box = data.AppendData.List;
                        var data_thead = []; //表头的数组
                        var data_head = '';//表头
                        var data_main = '';//表内容
                        var data_length = data_box.length; //内容条数
                        page_count = data.AppendData.TotalCount; //总条数
                        if (page_first == 0) {
                            page_first = 1;
                            data_head = `<tr>
                                            <th class=" width-chk">         <input type="checkbox" onclick="all_check(this);" class="allCheck"></th>
                                            <th class =" width-sm">         姓名</th>
                                            <th class =" width-lg">         部门</th>
                                            <th class =" width-lg">         财务核算单位</th>
                                            <th class =" width-md">         手机号码</th>
                                            <th class =" width-datetime">身份证号码</th>
                                            <th class =" width-datetime">银行卡号码</th>
                                            <th class =" width-date">       银行卡省份</th>
                                            <th class =" width-datetime">发薪公司</th>
                                            <th class =" width-sm">         基本工资</th>
                                            <th class =" width-date">       入职时间</th>
                                            <th class =" width-date">       离职日期</th>
                                            <th class =" width-xs">         免打卡</th>
                                            <th class =" width-sm">         带薪假期</th>
                                            <th class =" width-sm">         状态</th>
                                            <th class ="width-xlg">         操作</th>
                                        </tr>`;
                            $('#I_department thead').append(data_head);
                        }
                        for (var i = 0; i < data_length; i++) {

                            /*o.Name,o.Mobile,o.IDCard,o.Id,o.BankCard,o.BankArea,o.StatusJob,o.Status,o.SalaryGroup*/
                            data_main += `<tr data-id="${data_box[i].Id}">
                                            <td class =" width-chk">      <input name="gv_data_ct${data_box[i].Id}_check" data-id="${data_box[i].Id}"  class ="SOGchk"  ${data_box[i].IsDelete == 0 ? 'data-nodel="0"': 'data-nodel="1"'}  type="checkbox"></td>
                                            <td class =" width-sm">      ${data_box[i].Name}</td>
                                            <td class =" width-lg">      ${data_box[i].DepartmentName}</td>
                                            <td class =" width-lg">      ${data_box[i].FinacialUnitName}</td>
                                            <td class =" width-md">      ${data_box[i].Mobile}</td>
                                            <td class =" width-datetime">${data_box[i].IDCard}</td>
                                            <td class =" width-datetime">${data_box[i].BankCard}</td>
                                            <td class =" width-date">    ${data_box[i].BankArea}</td>
                                            <td class =" width-datetime">${data_box[i].SalaryGroup}</td>
                                            <td class =" width-sm">      <a class ="show_identifying_code"  data-id="${data_box[i].Id}">***</a></td>
                                            <td class =" width-date">    ${data_box[i].JoinDate}</td>
                                            <td class =" width-date">    ${data_box[i].QuitDate}</td>
                                            <td class =" width-xs">      ${data_box[i].IsLeader}</td>
                                            <td class =" width-sm">      ${data_box[i].PaidHoliday}</td>
                                            <td class =" width-sm">      <a class ="btn_ApproveLog" data-id="${data_box[i].Id}" >${data_box[i].Status}</a></td>
                                            <td class ="width-xlg">      <a class ="btn_channel Reset_examine ${data_box[i].HRFunction==0?"modal_Nodel":"btn_edit_holiday"}"  data-id="${data_box[i].Id}" >修改带薪假</a><a class ="btn_channel Reset_examine ${data_box[i].HRFunction==0?"modal_Nodel":"btn_edit_card"}" data-id="${data_box[i].Id}" >修改银行卡</a><a class ="btn_channel Reset_examine ${data_box[i].FinanceFunction==0?"modal_Nodel":"btn_edit_finance"}" data-id="${data_box[i].Id}" >修改核算单位</a></td>
                                        </tr>`
                            //<a class ="btn_channel  Reset_examine ${data_box[i].HRFunction==0||data_box[i].StatusJob!=1?"modal_Nodel":"btn_edit_leave"}" data-id="${data_box[i].Id}" >辞退</a>
                        }
                        $('#I_department tbody').html(data_main);
                        var clienH = $(window).height() - 250;
                        $(' .table-auto tbody').css({ 'height': clienH + 'px' });
                        $('#I_TotalPage').html(data.AppendData.TotalPage);
                        $("#I_pageSize").html(data_length);
                        laypage_up(page_count);

                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                    ErrorBox('暂无数据内容');
                }
            })
        }

        $('#search_button').click(function () {
            GetAppendData();
        })
        // all checkbox  num_check选择了多少条数SOGchk
        function all_check(_this) {
            $(".SOGchk").each(function () {
                var nodel = $(this).attr('data-nodel');
                if (nodel == 1) {
                    $(this).prop("checked", _this.checked);
                } else {
                    if (nodel == 0 || _this.checked == true) {
                        $(this).prop("checked", false);
                    }
                }
            })

            num_check()
        };
        $('body').on('click', '.SOGchk', function () {
            if (!$(this).attr('checked')) {
                $('.allCheck').prop("checked", false);
            }
            num_check()
        })
        function num_check() {
            var check_length = $('.SOGchk:checked').length;
            $('#I_number').html(check_length);
        }
        function InitCompany() {
            $.ajax({
                type: 'GET',
                url: '/Common/GetCompanyList',
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 200) {
                        var companyList = data.AppendData;
                        $('#I_search_companyId').append(companyList.map(o=> { return `<option value="${o.Id}">${o.Name}</option>` }));
                    }
                }
            })
        }

        $('#I_search_companyId').on('change', function () {
            $('#I_search_departmentId').html('<option value="">--所有部门--</option>');
            $('#I_search_departmentId').val('');
            InitDepartment();
        });

        function InitDepartment() {
            console.log($('#I_search_companyId').val());
            $.ajax({
                type: 'GET',
                url: '/Common/GetDepartmentList',
                data: {
                    'companyId': $('#I_search_companyId').val()
                },
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 200) {
                        var departmentList = data.AppendData;
                        $('#I_search_departmentId').append(departmentList.map(o=> { return `<option value="${o.Id}">${o.Name}</option>` }));
                    }
                }
            })
        }

        //初始数据
        try {
            GetAppendData()//获取初始表数据
            InitCompany();
            InitDepartment();
        } catch (err) {
        }

        //分页
        function laypage_up() {
            layui.use(['laypage', 'layer'], function () {
                var laypage = layui.laypage
                , layer = layui.layer;
                laypage.render({
                    elem: 'layui_page'
                    , count: page_count
                    , limit: 10
                    , curr: currentPage || 1
                    , layout: ['count', 'prev', 'page', 'next', 'skip']
                    , jump: function (obj, first) {
                        currentPage = obj.curr;
                        if (!first) {//首次不执行
                            GetAppendData();

                        }

                    }
                });
            })
        }
        //带薪假
        $('body').on('click', '#btn_save_holiday', function () {
            if (required('edit_holiday')) { //验证
                return false;
            }
            //ajax提交
            showLoad();
            $.ajax({
                type: 'POST',
                async: false,
                url: '/Employee/UpdatePaidHoliday',
                data: {
                    'Id': editID,
                    'IsLeader': $('#edit_IsLeader').prop("checked") ? 1 : 0,
                    'PaidHoliday': $('#edit_PaidHoliday').val()
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if (data.ResultType == 200) {
                        SuccessBox(data.Message);
                        HideUI('edit_holiday');
                        GetAppendData();
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                    ErrorBox('当前网络较差，请刷新重试');
                }
            })
        })
        $('body').on('click', '.btn_edit_holiday', function () {
            var _this = $(this);
            editID = _this.attr('data-id'); // 解析出data-id

            $.ajax({
                type: 'GET',
                url: '/Employee/GetEntityById/' + editID,
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 200) {
                        $('.I_holiday_title').text('修改带薪假');
                        var edit = data.AppendData;
                        $('.I_holiday_from').html(`
                            <div class ="form-group">
                                                    <label class ="col-md-3 control-label">姓名</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.Name}" />
                                                    </div>
                                                </div>

                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">部门</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.DepartmentName}" />
                                                    </div>
                                                </div>

                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">手机号码</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.Mobile}" />

                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">是否免打卡</label>
                                                    <div class ="col-md-8">
                                                    <input  type="checkbox" value="1"  id="edit_IsLeader" ${edit.IsLeader == 1 ? "checked=true" : ""} />
                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">带薪假(天)</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control" id="edit_PaidHoliday"  value="${edit.PaidHoliday}" />

                                                    </div>
                                                </div>
                                                `);
                        ShowUI('edit_holiday');
                    } else {
                        ErrorBox(data.Message);
                    }
                }
            })
        })
        //带薪假
        //财务核算单位
        $('body').on('click', '#btn_save_finance', function () {
            if (required('edit_finance')) { //验证
                return false;
            }
            //ajax提交
            showLoad();
            $.ajax({
                type: 'POST',
                async: false,
                url: '/Employee/UpdateFinancialUnit',
                data: {
                    'Id': editID,
                    'SalaryGroup': $('#edit_SalaryGroup').val(),
                    'FinacialUnitId': $('#edit_FinacialUnitId').val()
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if (data.ResultType == 200) {
                        SuccessBox(data.Message);
                        HideUI('edit_finance');
                        GetAppendData();
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                    ErrorBox('当前网络较差，请刷新重试');
                }
            })
        })
        $('body').on('click', '.btn_edit_finance', function () {
            var _this = $(this);
            editID = _this.attr('data-id'); // 解析出data-id

            $.ajax({
                type: 'GET',
                url: '/Employee/GetEntityById/' + editID,
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 200) {
                        $('.I_finance_title').text('修改核算单位');
                        var edit = data.AppendData;
                        $('.I_finance_from').html(`
                            <div class ="form-group">
                                                    <label class ="col-md-3 control-label">姓名</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.Name}" />
                                                    </div>
                                                </div>

                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">部门</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.DepartmentName}" />
                                                    </div>
                                                </div>

                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">手机号码</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.Mobile}" />

                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">财务核算单位</label>
                                                    <div class ="col-md-8">
                                                    <select class ="form-control" id="edit_FinacialUnitId">
                                                    ${edit.FinanceList.map((f) => { return `<option value='${f.Id}'>${f.Name}</option>` })}
                                                </select>
                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">发薪公司</label>
                                                    <div class ="col-md-8">
                                                    <select class ="form-control" value="${edit.SalaryGroup}" id="edit_SalaryGroup">
                                                    ${edit.SalaryGroupList.map((f) => { return `<option value='${f.Id}'>${f.Name}</option>` })}
                                                </select>
                                                    </div>
                                                </div>
                                                `);

                        $('#edit_SalaryGroup').val(edit.SalaryGroup);
                        $('#edit_FinacialUnitId').val(edit.FinacialUnitId);
                        ShowUI('edit_finance');
                    } else {
                        ErrorBox(data.Message);
                    }
                }
            })
        })
        $('body').on('change', '#edit_FinacialUnitId', function () {
            $.ajax({
                type: 'GET',
                url: '/FinanceUnit/GetFinanceUnitList',
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 200) {
                        var companyList = data.AppendData;
                        $('#I_search_companyId').append(companyList.map(o=> { return `<option value="${o.Id}">${o.Name}</option>` }));
                    }
                }
            })
        })
        //财务核算单位



        //修改银行卡
        $('body').on('click', '#btn_save_card', function () {
            if (required('edit_card')) { //验证
                return false;
            }
            //ajax提交
            showLoad();
            $.ajax({
                type: 'POST',
                async: false,
                url: '/Employee/UpdateIDCard',
                data: {
                    'Id': editID,
                    'IDCard': $('#edit_IDCard').val(),
                    'BankCard': $('#edit_BankCard').val(),
                    'BankArea': $('#edit_BankArea').val()
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if (data.ResultType == 200) {
                        SuccessBox(data.Message);
                        HideUI('edit_card');
                        GetAppendData();
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                    ErrorBox('当前网络较差，请刷新重试');
                }
            })
        })
        $('body').on('click', '#btn_save_card_lock', function () {
            if (required('edit_card')) { //验证
                return false;
            }
            //ajax提交
            showLoad();
            $.ajax({
                type: 'POST',
                async: false,
                url: '/Employee/UpdateIDCard',
                data: {
                    'Id': editID,
                    'IDCard': $('#edit_IDCard').val(),
                    'BankCard': $('#edit_BankCard').val(),
                    'BankArea': $('#edit_BankArea').val(),
                    'Opinion': $('#edit_Opinion').val(),
                    'IsLock': 1
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if (data.ResultType == 200) {
                        SuccessBox(data.Message);
                        HideUI('edit_card');
                        GetAppendData();
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                    ErrorBox('当前网络较差，请刷新重试');
                }
            })
        })
        $('body').on('click', '.btn_edit_card', function () {
            var _this = $(this);
            editID = _this.attr('data-id'); // 解析出data-id

            $.ajax({
                type: 'GET',
                url: '/Employee/GetEntityById/' + editID,
                dataType: "json",
                success: function (data) {
                    if (data.ResultType == 200) {
                        var edit = data.AppendData;
                        if (edit.Status == 21) {//未锁定状态
                            $('.I_card_title').text('修改银行卡');
                            $('.I_card_from').html(`
                            <div class ="form-group">
                                                    <label class ="col-md-3 control-label">姓名</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.Name}" />
                                                    </div>
                                                </div>

                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">部门</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.DepartmentName}" />
                                                    </div>
                                                </div>

                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">手机号码</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  disabled="disabled"  value="${edit.Mobile}" />

                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">身份证号码</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  id="edit_IDCard" value="${edit.IDCard}" />

                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">银行卡号</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  id="edit_BankCard" value="${edit.BankCard}" />

                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">银行省份</label>
                                                    <div class ="col-md-8">
                                                    <input class ="form-control"  id="edit_BankArea" value="${edit.BankArea}" />

                                                    </div>
                                                </div>
                                                <div class ="form-group">
                                                    <label class ="col-md-3 control-label">意见</label>
                                                    <div class ="col-md-8">
                                                    <textarea class ="form-control"  id="edit_Opinion"  />

                                                    </div>
                                                </div>
                                                `);
                            $('#edit_SalaryGroup').val(edit.SalaryGroup);
                            $('#edit_FinacialUnitId').val(edit.FinacialUnitId);
                        } else if (edit.Status == 11) {//锁定状态
                            layer.prompt({
                                title: '确实要向财务申请解锁【' + edit.Name + '】的员工信息吗？', formType: 2, yes: function (index, layero) {
                                    var opinion = layero.find(".layui-layer-input").val();
                                    $.post('/Employee/ApproveUnlockByHR', { Id: edit.Id, Opinion: opinion }, function (data) {
                                        if (data.AppendData > 0) {
                                            SuccessBox('');
                                            GetAppendData();
                                        }
                                        layer.close(index);
                                    });
                                }
                            });
                            return false;
                        } else if (edit.Status == 31) {//解锁中
                            layer.msg("已经处于解锁中，不能编辑");
                            return false;
                        } else if (edit.Status == 32) {//锁定中
                            layer.msg("已经处于锁定中，不能编辑");
                            return false;
                        } else {
                            return false;
                        }
                        ShowUI('edit_card');
                    } else {
                        ErrorBox(data.Message);
                    }
                }
            })
        })
        //修改银行卡


        //查看审核进度btn_ApproveLog
        $("body").on("click", ".btn_ApproveLog", function () {
            showLoad();
            var id = $(this).data("id");
            //$("#ApproveLog_Modal h4 span").text(I_search_month);
            $.ajax({
                type: "get",
                url: '/Employee/GetEmployeeStatus',
                data: {
                    "Id": id
                },
                dataType: "json",
                success: function (result) {
                    hideLoad();
                    var data = result;
                    if (data.ResultType == 200) {
                        //var strdata = JSON.stringify(data.AppendData);
                        var strdata = data.AppendData;//JSON.stringify(data.AppendData);
                        //console.log(strdata.lenth);
                        //console.log(strdata[0]);
                        //console.log(strdata[0].Name);
                        var strdata_html = '';
                        for (var i = 0; i < strdata.length; i++) {
                            strdata_html += `<div class="approve_li">
                                                    <h3 class ="approve_h3">${strdata[i].Name}<span class ="approve_span">(${strdata[i].OperatorTime}) </span>  <i class="app_i  app_yes">${strdata[i].TargetStatus}</i></h3>
                                                    <p class ="approve_p">${strdata[i].Comment}<a class ="Handler_a  ${strdata[i].Handler == '通过' ? 'Handler_yes' : 'Handler_no'}">${strdata[i].Handler}</a></p>
                                                  </div>`;
                        }
                        strdata_html = strdata_html == '' ? "未开始审核" : strdata_html;
                        $('.I_ApproveLog_from').html(`

                                                    <div class="approve_ul">
                                                        ${strdata_html}
                                                    </div>
                                        `);
                        ShowUI('ApproveLog_Modal');
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                }
            });
            return false;
        });

        //查看验证码
        $('body').on('click', '.show_identifying_code', function () {
            $('#employeeId').val($(this).attr('data-id'));
            ShowUI('identifying_code');
        })


        $('#btn_save_identifying_code').click(function () {
            if (!$('#user_check_code').val()) {
                ErrorBox("请输入短信验证码");
            }
            showLoad();
            $.ajax({
                type: "get",
                url: '/Employee/GetSalaryHistory',
                data: { 'Id': $("#employeeId").val(),"CheckCode":$('#user_check_code').val()},
                dataType: "json",
                success: function (result) {
                    hideLoad();
                    var data = result;
                    if (data.ResultType == 200) {
                        var strdata = data.AppendData;//JSON.stringify(data.AppendData);
                        var strdata_html = '';
                        for (var i = 0; i < strdata.length; i++) {
                            strdata_html += `<div class="approve_li">
                                                    <h3 class ="approve_h3">${strdata[i].Money}<span class ="approve_span">(${strdata[i].EffectedDate}) </span>  <i class="app_i  app_yes">${strdata[i].Status}</i></h3>
                                                    <p class ="approve_p">${strdata[i].Comment}</p>
                                                  </div>`;
                        }
                        strdata_html = strdata_html == '' ? "未开始审核" : strdata_html;
                        $('.I_ApproveLog_from').html(`

                                                    <div class="approve_ul">
                                                        ${strdata_html}
                                                    </div>
                                        `);
                        HideUI('identifying_code');
                        ShowUI('ApproveLog_Modal');
                    } else {
                        ErrorBox(data.Message);
                    }
                },
                error: function () {
                    hideLoad();
                }
            });
        });

        $('#send_check_code').click(function () {
            $('#send_check_code').attr('disabled', 'disabled');
            showLoad();
            $.ajax({
                type: "post",
                url: '/Employee/SendSalaryCheckCode',
                dataType: "json",
                success: function (result) {
                    hideLoad();
                    var timedown = 60;
                    var timer = setInterval(function () {
                        if (timedown == 0) {
                            $('#send_check_code').attr('disabled', false);
                            $('#send_check_code').html('发送验证码');
                            clearInterval(timer);
                            return false;
                        }
                        $('#send_check_code').html(timedown);
                        timedown--;                        
                    }, 1000);
                },
                error: function () {
                    $('#send_check_code').attr('disabled', false);
                }
            });
        });
    </script>
}


