@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "广州社保";
}

@section customStyle{
<style>
     #I_error_File{
            display:none;
        }
    .ov-line > p {
        padding: 10px;
    }

        .ov-line > p > span {
            margin-left: 6px;
            margin-right: 30px;
        }

        .help-height-max{
            position:absolute;
            width:200px;
            border:1px solid red;
            visibility:hidden;
            bottom:20px;
            top:110px;
        }
</style>


}
<!-- 主标题 begin -->
<div class="ov-tit ov-line rel clearfix">
    <h1 class="ov-theme">广州社保</h1>
    <input type="hidden" id="housermoneymaster_id" data-comment="社保主表记录的Id" value="" />
    <div class="search_ul">
        <input class="layui-input" id="I_search_month" placeholder="" type="text">
        <input type="text" name="search_name" class="form-control" id="I_search_name" placeholder="请输入姓名">
        <a class="search_ul_a" id="search_button">查询</a>
    </div>
    <div class="icon_fun abs bot10">
        <a class="add_right_btn add_Sale_code" id="open_Approve_Modal">发起审核</a>
        <a class="add_right_btn add_Sale_code" id="open_Import_Modal">导入</a>
        <a class="add_right_btn add_Sale_code" id="open_Del_Modal">删除</a>
        <a class="add_right_btn add_Sale_code" id="open_ApproveLog_Modal">查看审核进度</a>
    </div>
</div>
<div class="ov-line">
    <p>
        <span class="info-sum-employee">总人数：<span>0</span></span>
        <span class="info-sum-money-personal">合计个人缴存额（元）：<span>0</span></span>
        <span class="info-sum-money-corp">合计公司缴存额（元）：<span>0</span></span>
        <span class="info-sum-money-all">合计缴存额（元）：<span>0</span></span>
    </p>
</div>
<!-- 主标题 end -->
<!-- 内容表格 begin -->
<div class="ov-form table-responsive I_department_form">
    <!-- 表格数据 -->
    <div class="help-height-max"></div>
    <table class="table table-striped table-bordered table_auto" id="I_department">
        <thead>
            <tr>
                <th colspan="2" rowspan="2"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!-- 内容表格 end -->

<div class="ov-add modal fade I_modal" id="Approve_Modal">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title">提示</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_Approve_from">
                    <p>即将向财务发起对<span></span>的社保审核</p>
                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" id="close_Approve_default" class="btn btn-default">取消</button>
                <button type="button" id="Approve_primary" class="btn btn-primary ">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="ov-add modal fade I_modal" id="Import_Modal">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title">导入社保</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_Import_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" id="close_Import_default" class="btn btn-default">取消</button>
                <button type="button" id="Import_primary" class="btn btn-primary ">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="ov-add modal fade I_modal" id="ApproveLog_Modal">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title"><span></span>社保审核进度</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_ApproveLog_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" id="close_ApproveLog_default" class="btn btn-default">关闭</button>
                @*<button type="button" id="Import_primary" class="btn btn-primary ">确定</button>*@
            </div>
        </div>
    </div>
</div>

@section customScript{
    <script>
                var monthValue = "@(DateTime.Now.AddMonths(-1).ToString("yyyy-MM"))";
                var monthValueMax="@(DateTime.Now.ToString("yyyy-MM"))";
        layui.use('laydate', function () {
           
            
                    var laydate = layui.laydate;
                    //执行一个laydate实例
                    laydate.render({
                        elem: '#I_search_month' //指定元素
                         , type: 'month'
                        , value: monthValue
                        , max: monthValueMax
                         , showBottom: false
                , ready: function (date) {
                    $(".layui-laydate").off('click').on('click', '.laydate-month-list li', function () {
                        $(".layui-laydate").remove();
                    });
                }
                , change: function (value, dates, edate) {
                    $('#I_search_month').val(value);
                    GetAppendData();
                }
                    });

                    //初始数据
                    try {
                        GetAppendData();//获取初始表数据
                    } catch (err) {
                    }

                });
    </script>
    <script>
                // 表格数据
                var page_first = 0; //第一次获取列表数据
                var editID = ''; //编辑id
                // 翻页
                function GetAppendData() {
                    var height = $(".help-height-max").height();
                    height = height < 700 ? 700 : height; 
                    $(".I_department_form").css("max-height", height);
                    console.log(height);
                    showLoad();
                    data_head = `<tr>
                                            <th class =" width-date"  rowspan="2">缴纳月份</th>
                                            <th class =" width-sm"  rowspan="2">姓名</th>
                                            <th class =" width-datetime"  rowspan="2">身份证</th>
                                            <th class =" width-date"  rowspan="2" >个人编号</th>
                                            <th class =""  colspan="3" >基本养老保险</th>
                                            <th class =""  colspan="3" >工伤保险</th>
                                              <th class =""  colspan="3" >失业保险</th>
                                            <th class =""  colspan="3" >职工社会医疗保险</th>
                                            <th class =""  colspan="3" >职工重大疾病医疗补助</th>
                                            <th class =""  colspan="3" >生育保险</th>
                                            <th class =" width-sm"  rowspan="2">单位合计</th>
                                            <th class =" width-sm"  rowspan="2">个人合计</th>
                                             <th class =""  rowspan="2">状态</th>
                                            </tr><tr>
                                            <th class =" width-date">计费工资</th>
                                            <th class =" width-sm">单位</th>
                                            <th class =" width-sm">个人</th>

                                            <th class =" width-date">计费工资</th>
                                            <th class =" width-sm">单位</th>
                                            <th class =" width-sm">个人</th>

                                            <th class =" width-date">计费工资</th>
                                            <th class =" width-sm">单位</th>
                                            <th class =" width-sm">个人</th>

                                            <th class =" width-date">计费工资</th>
                                            <th class =" width-sm">单位</th>
                                            <th class =" width-sm">个人</th>

                                            <th class =" width-date">计费工资</th>
                                            <th class =" width-sm">单位</th>
                                            <th class =" width-sm">个人</th>

                                            <th class =" width-date">计费工资</th>
                                            <th class =" width-sm">单位</th>
                                            <th class =" width-sm">个人</th>
                                            </tr>`;
                    $('#I_department thead').html(data_head);
                   
                    var I_search_month = $('#I_search_month').val();
                    var I_search_name = $('#I_search_name').val();
                    
                    $.ajax({
                        type: 'POST',
                        url: '../SocialMoneyGZ/GetEntity',
                        data: {
                            'Month': I_search_month,
                            'Name': I_search_name
                        },
                        dataType: "json",
                        success: function (data) {
                            hideLoad();
                            if (data.ResultType == 200) {
                                var data_box = data.AppendData.data_box;
                                var data_thead = []; //表头的数组
                                var data_head = '';//表头
                                var data_main = '';//表内容
                                var data_length = data_box.length; //内容条数
                                for (var i = 0; i < data_length; i++) {
                                    if (page_first == 0) {
                                        page_first = 1;
                                        if (i == 0) {

                                        }
                                    }
                                    var element = data_box[i];
                                    data_main += `<tr data-id="${data_box[i].Id}">
                                            <td>${data.AppendData.master.Month}</td>
                                             <td>${data_box[i].Name}</td>
                                              <td>${data_box[i].IDCard}</td>
                                            <td>${data_box[i].Account}</td>
                                           

                                            <td>${data_box[i].YangLaoJiShu}</td>
                                            <td>${data_box[i].YangLaoDanWei}</td>
                                            <td>${data_box[i].YangLaoGeRen}</td>
                                            
                                            <td>${data_box[i].GongShangJiShu}</td>
                                            <td>${data_box[i].GongShangDanWei}</td>
                                            <td>${data_box[i].GongShangGeRen}</td>

                                             <td>${data_box[i].ShiYeJiShu}</td>
                                             <td>${data_box[i].ShiYeDanWei}</td>
                                            <td>${data_box[i].ShiYeGeRen}</td>
 
                                             <td>${data_box[i].YiLiaoJiShu}</td>
                                             <td>${data_box[i].YiLiaoDanWei}</td>
                                            <td>${data_box[i].YiLiaoGeRen}</td>
                                            
                                            <td>${data_box[i].ZhongJiXianJiShu}</td>
                                             <td>${data_box[i].ZhongJiXianDanWei}</td>
                                            <td>${data_box[i].ZhongJiXianGeRen}</td>

                                            <td>${data_box[i].ShenYuJiShu}</td>
                                            <td>${data_box[i].ShenYuDanWei}</td>
                                            <td>${data_box[i].ShenYuGeRen}</td>

                                              <td>${data_box[i].TotalCorp}</td>
                                            <td>${data_box[i].TotalPesonal}</td>

                                             <td ><span class ="${"col-display-status"+data.AppendData.master.StatusValue}">${data.AppendData.master.Status}</span></td>
                                        </tr>`
                                }
                                $('#I_department tbody').html(data_main);
                                $('.info-sum-employee span').text(data.AppendData.totalEmployee || 0);
                                $('.info-sum-money-personal span').text(data.AppendData.TotalPesonal || 0);
                                $('.info-sum-money-corp span').text(data.AppendData.TotalCorp || 0);
                                $('.info-sum-money-all span').text(data.AppendData.TotalMoney || 0);
                                $("#housermoneymaster_id").val(data.AppendData.master.Id);
                            } else {
                                ErrorBox(data.Message);
                            }
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            ErrorBox('暂无数据内容');
                            hideLoad();
                        }
                    })
                }


                $('#search_button').click(function () {
                    GetAppendData();
                })

                //发起审核
                $('body').on('click', '#open_Approve_Modal', function () {
                    var I_search_month = $('#I_search_month').val();
                    $(".I_Approve_from>p>span").text(I_search_month);
                    ShowUI('Approve_Modal');
                });
                // 发起审核-关闭
                $('body').on('click', '#close_Approve_default', function () {
                    HideUI('Approve_Modal');
                });
                //发起审核-确定
                $("body").on('click', '#Approve_primary', function () {
                    showLoad();
                    var id = $("#housermoneymaster_id").val();
                    $.ajax({
                        type: "post",
                        url: '../SocialMoneyGZ/ApproveByHR',
                        data: {
                            "Id": id
                        },
                        dataType: "json",
                        success: function (result) {
                            hideLoad();
                            var data = result;
                            if (data.ResultType == 200) {
                                SuccessBox(data.Message);
                                HideUI('Approve_Modal');
                                GetAppendData();
                            } else {
                                ErrorBox(data.Message);
                            }
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            hideLoad();
                        }
                    });
                });

                //导入
                $('body').on('click', '#open_Import_Modal', function () {
                    $('.I_Import_from').html(`
                                                    <p>提示信息</p>
                                                    <p>1、请先选择社保缴纳记录的月份</p>
                                                    <p>1、Excel格式请参照<button id="import_down_template">广州社保模板</button></p>
                                                    <div class ="form-group">
                                                        <label id="add_lbl_TypeName" class ="col-md-3 control-label">缴纳月份 </label>
                                                        <div class ="col-md-8">
                                                            <input class="layui-input" id="I_import_month" placeholder="" type="text">
                                                        </div>
                                                    </div>
                                                    <div class ="form-group clearfix">
                                                        <label id="add_lbl_Img" class ="col-md-3 control-label align-right">选择文件</label>
                                                        <div class ="col-md-8">
                                                            <input name="add_File" type="file" id="I_add_File" />
                                                            <input name="save_File" class ="hide" type="text" id="I_save_File" />
                                                        </div>
                                                    </div>
                                                    <p id="I_error_File">导入发生错误<button id="import_down_error">错误信息文件</button></p>
                                        `);
                    var laydate = layui.laydate;
                    //执行一个laydate实例
                    laydate.render({
                        elem: '#I_import_month' //指定元素
                         , type: 'month'
                        , value: monthValue
                        , max: monthValueMax
                        , showBottom: false
                , ready: function (date) {
                    $(".layui-laydate").off('click').on('click', '.laydate-month-list li', function () {
                        $(".layui-laydate").remove();
                    });
                }
                , change: function (value, dates, edate) {
                    $('#I_import_month').val(value);
                }
                    });
                    ShowUI('Import_Modal');
                });
                // 导入-关闭
                $('body').on('click', '#close_Import_default', function () {
                    HideUI('Import_Modal');
                });
                //导入-上传excel
                var fileGroup = "@((int)Salary_MVC.Enum.FileGroupEnum.社保)";
                $("body").on("change", "#I_add_File", function () {
                    
                    var filePath = $(this).val();//读取图片路径
                    if (!filePath)
                        return;
                    showLoad();
                    var imgObj = this.files[0];//获取图片
                    var formData = new FormData();
                    formData.append("file", $('#I_add_File')[0].files[0]);
                    formData.append("name", $('#I_add_File').val());
                    formData.append("Group", fileGroup);
                    var obj = $(this).prev()[0];//
                    if (filePath.indexOf("xlsx") != -1 || filePath.indexOf("xls") != -1) {
                        $.ajax({
                            type: "post",
                            url: "../File/UploadFile",
                            data: formData,
                            contentType: false,// 告诉jQuery不要去设置Content-Type请求头
                            processData: false,// 告诉jQuery不要去处理发送的数据
                            success: function (result) {
                                hideLoad();
                                if (result.ResultType == 200) {
                                    $("#I_error_File").hide();
                                    $('#I_save_File').val(result.Message);
                                }
                            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                                hideLoad();
                            }
                        });

                    } else {
                        hideLoad();
                        ErrorBox('您未上传文件，或者您上传文件类型有误！');
                        $(this).val('');
                        return false
                    }
                })

                $("body").on("click", "#import_down_template", function () {

                    $("body").append('<iframe src="../SocialMoneyGZ/Template" height="0"></iframe>')

                });
                // 导入-确定
                $('body').on('click', '#Import_primary', function () {
                    if (required('Import_Modal')) { //验证
                        return false;
                    }
                    showLoad();
                    var I_import_month = $('#I_import_month').val();
                    var I_save_File = $('#I_save_File').val();
                    $.ajax({
                        type: "post",
                        url: "../SocialMoneyGZ/Import",
                        data: {
                            'Month': I_import_month,
                            'FilePath': I_save_File,
                        },
                        dataType: "json",
                        success: function (result) {
                            hideLoad();
                            var data = result;
                            if (data.ResultType == 200) {
                                SuccessBox(data.Message);
                                HideUI('Import_Modal');
                                GetAppendData();
                                //window.location.reload();
                            } else {
                                if (result.AppendData && result.AppendData.SyntaxError) {//错误信息txt
                                    $("#I_error_File").show();
                                }
                                ErrorBox(data.Message);
                            }
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            hideLoad();
                        }
                    });
                });

                $("body").on("click", "#import_down_error", function () {
                    var filename = $('#I_save_File').val();
                    $("body").append('<iframe src="../SocialMoneyGZ/ErrorInfo?filename=' + filename + '" height="0"></iframe>')

                });

                //删除按钮点击
                $('body').on('click', '#open_Del_Modal', function () {
                    //var _this = $(this);
                    //var del_data = _this.attr('data-id');
                    //var departmentIds = []; //需删除的id的集合
                    var I_search_month = $('#I_search_month').val();
                    var r = confirm("确定要删除" + I_search_month + "社保数据吗？")
                    if (!r)
                        return;
                    //departmentIds.push(del_data);
                    //ajax 删除
                    showLoad();
                    $.ajax({
                        type: 'POST',
                        url: "../SocialMoneyGZ/DeleteByMonth",
                        dataType: "json",
                        data: { 'Month': I_search_month, },
                        success: function (data) {
                            hideLoad();
                            if (data.ResultType == 200) {
                                SuccessBox(data.Message);
                                GetAppendData();
                            } else {
                                ErrorBox(data.Message);
                            }
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            hideLoad();
                            ErrorBox('当前网络较差，请刷新重试');
                        }
                    })
                })

                //查看审核进度
                $('body').on('click', '#open_ApproveLog_Modal', function () {
                    showLoad();
                    var I_search_month = $('#I_search_month').val();
                    $("#ApproveLog_Modal h4 span").text(I_search_month);
                    $.ajax({
                        type: "post",
                        url: '../SocialMoneyGZ/GetApproveLog',
                        data: {
                            "Month": I_search_month
                        },
                        dataType: "json",
                        success: function (result) {
                            hideLoad();
                            var data = result;
                            if (data.ResultType == 200) {
                                //var strdata = JSON.stringify(data.AppendData);
                                var strdata = data.AppendData;//JSON.stringify(data.AppendData);
                                //console.log(strdata.lenth);
                                //console.log(strdata[0]);
                                //console.log(strdata[0].Name);
                                var strdata_html = '';
                                for (var i = 0; i < strdata.length; i++) {
                                    strdata_html += `<div class="approve_li">
                                                    <h3 class ="approve_h3">${strdata[i].Name}<span class ="approve_span">(${strdata[i].OperatorTime}) </span>  <i class="app_i  app_yes">${strdata[i].TargetStatus}</i></h3>
                                                    <p class ="approve_p">${strdata[i].Comment}<a class ="Handler_a  ${strdata[i].Handler == '通过' ? 'Handler_yes' : 'Handler_no'}">${strdata[i].Handler}</a></p>
                                                  </div>`;
                                }
                                strdata_html = strdata_html == '' ? "未开始审核" : strdata_html;
                                $('.I_ApproveLog_from').html(`

                                                    <div class="approve_ul">
                                                        ${strdata_html}
                                                    </div>
                                        `);
                                ShowUI('ApproveLog_Modal');
                            } else {
                                ErrorBox(data.Message);
                            }
                        }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                            hideLoad();
                        }
                    });

                });
                // 查看审核进度-关闭
                $('body').on('click', '#close_ApproveLog_default', function () {
                    HideUI('ApproveLog_Modal');
                });
    </script>
}
