@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "调薪审核";
}

@section customStyle{

    <style>
    </style>

}
<!-- 主标题 begin -->
<div class="ov-tit ov-line rel clearfix">
    <h1 class="ov-theme"><span></span>调薪审核</h1>
    <div class="search_ul">
        <input type="text" name="search_name" class="form-control" id="I_search_name" placeholder="请输入姓名">
        <a class="search_ul_a" id="search_button">查询</a>
    </div>
    <div class="icon_fun abs bot10">
        <a class="add_right_btn add_Sale_code" id="open_Approve_Modal">审核</a>
    </div>
</div>
<!-- 主标题 end -->
<!-- 内容表格 begin -->
<div class="ov-form table-responsive I_department_form">
    <!-- 按钮组 -->
    <div class="ov_btn">
        <div class="btn_tab clearfix">
            <a class="btn_channel fl btn_switch  btn_active" data-tabindex="@((int)Salary_MVC.Models.TabEnum.待审核)">待审核</a>
            <a class="btn_channel fl btn_switch" data-tabindex="@((int)Salary_MVC.Models.TabEnum.已审核)">已审核</a>
        </div>
    </div>
    <!-- 表格数据 -->
    <table class="table table-striped table-bordered table-auto" id="I_department">
        <thead>
        </thead>
        <tbody></tbody>
    </table>
</div>
<!-- 内容表格 end -->

<div class="ov-add modal fade I_modal" id="Approve_Modal">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title"><span></span>审核审核</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_Approve_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" id="close_Approve_default" class="btn btn-default">取消</button>
                <button type="button" id="Approve_primary" class="btn btn-primary ">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="ov-add modal fade I_modal" id="ApproveLog_Modal">
    <div class="modalDialog modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                    <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                </button>
                <h4 class="modal-title I_increase_title"><span></span>审核审核进度</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal form-bordered I_ApproveLog_from">

                </div>
            </div>
            <div class="modal-footer modal_btn">
                <button type="button" id="close_ApproveLog_default" class="btn btn-default">关闭</button>
                @*<button type="button" id="Import_primary" class="btn btn-primary ">确定</button>*@
            </div>
        </div>
    </div>
</div>

@section customScript{
    <script>
        var daishenhe = "@((int)Salary_MVC.Models.TabEnum.待审核)";
        var yishenhe =  "@((int)Salary_MVC.Models.TabEnum.已审核)";
        layui.use('laydate', function () {
            var laydate = layui.laydate;
            //执行一个laydate实例
            //laydate.render({
            //    elem: '#I_search_month' //指定元素
            //     , type: 'month'
            //    , value: monthValue
            //    , max: monthValueMax
            //});

            //初始数据
            try {
                $('.search_ul').hide();
                //$("#open_Approve_Modal").show();
                $("#open_ApproveLog_Modal").hide();
                GetAppendData(daishenhe)//获取初始表数据
            } catch (err) {
            }

        });
    </script>
    <script>
        // 表格数据
        var page_first = 0; //第一次获取列表数据
        var editID = ''; //编辑id
        // 翻页
        function GetAppendData(tabindex) {
            showLoad();
            data_head = `<tr>
                                                    <th class =" width-chk">    <input type="checkbox" onclick="all_check(this);" class ="allCheck"></th>
                                                    <th class =" width-sm">     姓名</th>
                                                    <th class =" width-lg">     部门</th>
                                                    <th class =" width-lg">     财务核算单位</th>
                                                    <th class =" width-md">     手机号码</th>
                                                    <th class =" width-xs">     调整前</th>
                                                    <th class =" width-xs">     调整后</th>
                                                    <th class ="width-date">生效日期</th>
                                                    <th class ="width-lg">          说明</th>
                                                    <th class =" width-md"> 状态</th>
                                                    <th class =" width-md"> 附件</th>
                                            </tr>`;
            $('#I_department thead').html(data_head);
            var I_search_name = $('#I_search_name').val();
            $.ajax({
                type: 'POST',
                url: '../EmployeeSalary/GetEntityByFinance',
                data: {
                    'Name': I_search_name,
                    "TabIndex": tabindex
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if (data.ResultType == 200) {
                        housemoneyMaster = data.AppendData.master;
                        var data_box = data.AppendData;
                        var data_thead = []; //表头的数组
                        var data_head = '';//表头
                        var data_main = '';//表内容
                        var data_length = data_box.length; //内容条数
                        for (var i = 0; i < data_length; i++) {
                            if (page_first == 0) {
                                page_first = 1;
                                if (i == 0) {

                                }
                            }
                            var element = data_box[i];
                            data_main += `<tr data-id="${data_box[i].Id}">
                                            <td class =" width-chk"><input name="gv_data_ct${data_box[i].Id}_check" data-id="${data_box[i].Id}"  class ="SOGchk"}  type="checkbox"></td>
                                            <td class =" width-sm"> ${data_box[i].Name}</td>
                                            <td class =" width-lg"> ${data_box[i].DepartmentName}</td>
                                            <td class =" width-lg"> ${data_box[i].FinancialUnitName}</td>
                                            <td class =" width-md"> ${data_box[i].Mobile}</td>
                                            <td class =" width-xs"> ${data_box[i].OriginalMoney}</td>
                                            <td class =" width-xs"> ${data_box[i].Money}</td>
                                            <td class ="width-date">${data_box[i].EffectedDate}</td>
                                            <td class ="width-lg">  ${data_box[i].Comment}</td>
                                            <td class =" width-md"> <a class ="btn_ApproveLog ${"col-display-status"+data_box[i].StatusValue}" data-id="${data_box[i].Id}" >${data_box[i].Status}</a></td>
                                            <td class =" width-md">
                                            <a class ="btn-link ${!data_box[i].FilePath?"btn-hide":""}" data-id=""  target="_blank" href="${data_box[i].FilePath}" >预览</a>
                                                <a class ="btn_download btn-link ${!data_box[i].FilePath?"btn-hide":""}" data-id="${data_box[i].Id}" >下载</a>
                                            </td>
                                        </tr>`
                        }
                        $('#I_department tbody').html(data_main);

                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    ErrorBox('暂无数据内容');
                    hideLoad();
                }
            })
        }

        function all_check(_this) {
            $(".SOGchk").each(function () {
                $(this).prop("checked", _this.checked);
            })

            num_check()
        };

        $('body').on('click', '.SOGchk', function () {
            if (!$(this).attr('checked')) {
                $('.allCheck').prop("checked", false);
            }
            num_check()
        });

        function num_check() {
            var check_length = $('.SOGchk:checked').length;
            $('#I_number').html(check_length);
        };

        //下载附件
        $("body").on("click", ".btn_download", function () {
            var id = $(this).data("id");
            $("body").append('<iframe src="../File/GetAttachment?sourceId=' + id + '" height="0"></iframe>')
            return false;
        });
        //查看审核进度btn_ApproveLog
        $("body").on("click", ".btn_ApproveLog", function () {
            showLoad();
            var id = $(this).data("id");
            //$("#ApproveLog_Modal h4 span").text(I_search_month);
            $.ajax({
                type: "post",
                url: '../ApproveLog/GetEntityByTargetId',
                data: {
                    "targetId": id
                },
                dataType: "json",
                success: function (result) {
                    hideLoad();
                    var data = result;
                    if (data.ResultType == 200) {
                        //var strdata = JSON.stringify(data.AppendData);
                        var strdata = data.AppendData;//JSON.stringify(data.AppendData);
                        //console.log(strdata.lenth);
                        //console.log(strdata[0]);
                        //console.log(strdata[0].Name);
                        var strdata_html = '';
                        for (var i = 0; i < strdata.length; i++) {
                            strdata_html += `<div class="approve_li">
                                                    <h3 class ="approve_h3">${strdata[i].Name}<span class ="approve_span">(${strdata[i].OperatorTime}) </span>  <i class="app_i  app_yes">${strdata[i].TargetStatus}</i></h3>
                                                    <p class ="approve_p">${strdata[i].Comment}<a class ="Handler_a  ${strdata[i].Handler == '通过' ? 'Handler_yes' : 'Handler_no'}">${strdata[i].Handler}</a></p>
                                                  </div>`;
                        }
                        strdata_html = strdata_html == '' ? "未开始审核" : strdata_html;
                        $('.I_ApproveLog_from').html(`

                                                    <div class="approve_ul">
                                                        ${strdata_html}
                                                    </div>
                                        `);
                        ShowUI('ApproveLog_Modal');
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                }
            });
            return false;
        });

        // 查看审核进度-关闭
        $('body').on('click', '#close_ApproveLog_default', function () {
            HideUI('ApproveLog_Modal');
        });

        $('#search_button').click(function () {
            GetAppendData(yishenhe);
        })

        //发起审核
        $('body').on('click', '#open_Approve_Modal', function () {
            var num = $('.SOGchk:checked').length;
            if (num < 1) {
                ErrorBox('请勾选要发起审核的调薪记录');
                return;
            }
            $(".I_Approve_from").html(`
                                        <div class ="form-group">
                                            <label id="add_lbl_status" class ="col-md-3 control-label">审核</label>
                                            <div class ="col-md-8">
                                                <label class ="lbl_add_status"><input type="radio" name='approve_Handler' value='0' class ='add_status' checked='checked'>通过</label>
                                                <label class ="lbl_add_status"><input type="radio" name='approve_Handler' value='1' class ='add_status'>不通过</label>
                                            </div>
                                        </div>
                                        <div class ="form-group">
                                            <label id="add_lbl_TrueName" class ="col-md-3 control-label">审核意见</label>
                                            <div class ="col-md-8">
                                                <input name="approve_Comment" type="text" value="" rule="/\\S/" id="approve_Comment" class ="form-control Idata" placeholder="审核意见">
                                            </div>
                                        </div>
                                        `);
            ShowUI('Approve_Modal');
        });
        // 发起审核-关闭
        $('body').on('click', '#close_Approve_default', function () {
            HideUI('Approve_Modal');
        });
        //发起审核-确定
        $("body").on('click', '#Approve_primary', function () {
            var num = $('.SOGchk:checked').length;
            if (num < 1) {
                ErrorBox('请勾选要发起审核的调薪记录');
                return;
            }
            var ids = []; //需删除的id的集合
            $('.SOGchk:checked').each(function () {
                var id = $(this).attr("data-id");
                ids.push(id);
            });
            showLoad();
            var approve_Handler = $('.add_status:checked').val();
            var approve_Comment = $("#approve_Comment").val();
            $.ajax({
                type: "post",
                url: '../EmployeeSalary/ApproveByFinance',
                data: {
                    "TargetIds": ids,
                    "Handler": approve_Handler,
                    "Comment":approve_Comment
                },
                dataType: "json",
                success: function (result) {
                    hideLoad();
                    var data = result;
                    if (data.ResultType == 200) {
                        SuccessBox(data.Message);
                        HideUI('Approve_Modal');
                        GetAppendData(daishenhe);
                    } else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                }
            });
        });



        $('.btn_switch').click(function () {
            $(this).addClass('btn_active').siblings().removeClass('btn_active');
            var tabindex = $(this).data('tabindex');
            //page_first = 0;
            //currentPage = 1;
            if (tabindex == daishenhe) {
                $('.search_ul').hide();
                $("#open_Approve_Modal").show();
            } else {
                $('.search_ul').show();
                $("#open_Approve_Modal").hide();
            }
            GetAppendData(tabindex);//获取初始表数据
            //setTimeout(function () {
            //    laypage_up(page_count);
            //}, 200)
        })
    </script>
}
