<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>素材管理</title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-control" content="no-cache">
    <meta http-equiv="Cache" content="no-cache">
    <meta name="format-detection" content="telephone=no" />
    <!-- select2 -->
    <link href="../../plugins/select2/select2.css" rel="stylesheet" />
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- table -->
    <link href="../../dist/css/ovcss.css" rel="stylesheet" />
    <!-- 提示框 -->
    <link href="../../plugins/sweetalert/sweetalert.css" rel="stylesheet" />
    <!-- layui 分页 -->
    <link href="../../plugins/layui/css/layui.css" rel="stylesheet" />
    <!--用户管理-->
    <link href="../../dist/css/User_Center.css" rel="stylesheet" />
    <link href="../../dist/css/font-awesome.css" rel="stylesheet" />
</head>

<body>

    <!-- 主标题 begin -->
    <div class="ov-tit ov-line rel clearfix">
        <h1 class="ov-theme">素材管理</h1>
        <div class="search_ul">
            <input type="tel" name="search_Title" class="form-control" id="I_search_Title" placeholder="素材标题">
            <select name="search_Type" class="form-control search_Type" id="I_search_Type">
                <option value="">--请选择--</option>
            </select>
            <a class="search_ul_a" id="search_button">筛选</a>
        </div>
        <div class="icon_fun abs bot10">
            <a class="add_right_btn add_Sale_code" id="open_tab">添加素材</a>
        </div>
    </div>
    <!-- 主标题 end -->
    <!-- 内容表格 begin -->
    <div class="ov-form table-responsive I_department_form">
        <!-- 按钮组 -->
        <div class="ov_btn">
            
            <div class="fr">
                <span class="ov-add">总页数<span class="number0" id="I_TotalPage">0</span>，当前条数<span class="number0" id="I_pageSize">0</span>条</span>
            </div>
        </div>
        <!-- 表格数据 -->
        <table class="table table-striped table-bordered" id="I_department">
            <thead>
            </thead>
            <tbody></tbody>
        </table>
        <!-- 分页 begin -->
        <div class="ov-page">
            <div id="layui_page"></div>
        </div>
        <!-- 分页 end -->
    </div>
    <!-- 内容表格 end -->
    <!-- 新增弹层 -->
    <div class="ov-add modal fade I_modal" id="Increase_Modal">
        <div class="modalDialog modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                    </button>
                    <h4 class="modal-title I_increase_title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-bordered I_increase_from">
                        <!-- 填充表单 -->
                    </div>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" id="close_Increase_default" class="btn btn-default">取消</button>
                    <button type="button" id="Increase_primary" class="btn btn-primary ">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 编辑弹出 -->
    <div class="ov-edit modal fade I_modal" id="edit_Eject_Modal" tabindex="-1" role="dialog">
        <div class="modalDialog modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                    </button>
                    <h4 class="modal-title I_edit_title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-bordered I_edit_from">

                    </div>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" id="edit_Eject_default" class="btn btn-default">取消</button>
                    <button type="button" id="edit_Eject_primary" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 审核 -->
    <div class="ov-edit modal fade I_modal" id="Examine_Modal" tabindex="-1" role="dialog">
        <div class="modalDialog modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                    </button>
                    <h4 class="modal-title I_Examine_title"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-bordered I_Examine_from">

                    </div>
                </div>
                <div class="modal-footer modal_btn">
                    <button type="button" id="Examine_default" class="btn btn-default">取消</button>
                    <button type="button" id="Examine_primary" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 二维码 -->
    <div class="ov-edit modal fade I_modal" id="QRCode_Modal" tabindex="-1" role="dialog">
        <div class="modalDialog modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close modal_close" data-dismiss="modal" aria-label="Close">
                        <i class="glyphicon glyphicon-remove-sign modal_close_i"></i>
                    </button>
                    <h4 class="modal-title I_QRCode_title">素材预览</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-bordered I_QRCode_from">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jq -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- 时间日期插件 -->
    <script src="../../plugins/laydate/laydate.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- 提示框js -->
    <script src="../../plugins/sweetalert/sweetalert.js"></script>
    <!-- 主标题和筛选 的js -->
    <script src="../../dist/js/form_bow.js"></script>
    <!-- layui 分页js -->
    <script src="../../plugins/layui/layui.js"></script>
    <!-- 拖动js （给需要可拖动弹出层的div 添加 class（modalDialog）即可 ） -->
    <script src="../../dist/js/jquery-ui.js"></script>
    <!-- select2 -->
    <script src="../../plugins/select2/select2.js"></script>
    <script src="../../dist/js/loadovos.js"></script>
    <!-- 公共脚本 -->
    <script src="../../dist/js/common.js"></script>
    <script src="../../dist/js/config.js"></script>
    <script>
        // 表格数据
        var currentPage = 1; //当前页数
        var page_first = 0; //第一次获取列表数据
        var page_count = 0; //总条数
        var editID = ''; //编辑id

        //open_tab 新增
        $('#open_tab').click(function () {
            UrlAddTabs('1603', '新增中力素材', 'MaterialAddition/MaterialAddition.html');
        })

        //编辑
        $('body').on('click','.edit_tab',function () {
            var edit_id = $(this).attr('data-id');
            UrlAddTabs('1604', '编辑中力素材', 'MaterialAddition/MaterialAddition.html?edit_id=' + edit_id);
        });

        //获取类别
        $.ajax({
            type: "get",
            url: APIS.GetMaterialTypeList,
            dataType: "json",
            success: function (result) {
                var data = result;
                if (data.ResultType == 200) {
                    var items = data.AppendData;
                    var type_html = '<option value="">--请选择--</option>';
                    if (items.length > 0) {
                        for (var i = 0; i < items.length; i++) {
                            type_html += '<option value="' + items[i].Id + '">' + items[i].TypeName + '</option>'
                        }
                    }
                    $('#I_search_Type').html(type_html);

                }
            }
        })

        // 翻页
        function GetAppendData() {
            showLoad();
            var materialTitle = $('#I_search_Title').val();
            var mTId = $('#I_search_Type').val();
            var materialType = 1;//素材来源类型0.为全部 1.中力素材 2. 渠道素材 3活动推广素材
            var pageSize = 10;  //每页显示的条数
            var pageIndex = currentPage;//当前页数
            var browseOrder = $('#browseOrder').attr('data-Order');
            var shareOrder = $('#shareOrder').attr('data-Order');
            if (!browseOrder) {
                browseOrder = '0';
            }
            if (!shareOrder) {
                shareOrder = '0';
            }
            $.ajax({
                type: 'GET',
                url: APIS.GetMaterialListByZL,
                data:{
                    'mTId': mTId,
                    'materialTitle': materialTitle,
                    'materialType': materialType,
                    'pageSize': pageSize,
                    'pageIndex': pageIndex,
                    'browseOrder':browseOrder,
                    'shareOrder': shareOrder
                },
                dataType: "json",
                success: function (data) {
                    hideLoad();
                    if(data.ResultType == 200){
                        var data_box = data.AppendData.MaterialList;
                        var data_thead = []; //表头的数组
                        var data_head = '';//表头
                        var data_main = '';//表内容
                        var data_length = data_box.length; //内容条数
                        page_count = data.AppendData.TotalCount; //总条数
                        for (var i = 0; i < data_length; i++) {
                            if(page_first==0){
                                page_first =1;
                                if(i==0){
                                    data_head =`<tr>
                                                <th class="">标题</th>
                                                <th class=" width-datetime">素材类别</th>
                                                <th class =" width-sm">封面图片</th>
                                                <th class =" width-sm  SORT_Order" id="browseOrder" data-Order='0' >浏览量</th>
                                                <th class =" width-sm SORT_Order" id="shareOrder" data-Order='0' >分享量</th>
                                                <th class =" width-datetime">有效性</th>
                                                <th class ="width-xl">操作</th>
                                            </tr>`;
                                    $('#I_department thead').append(data_head);
                                }
                            }
                            var element = data_box[i];
                            var url_active = '<span class="color_tree">链接有效</span>';
                            if (data_box[i].IsActive == 0) {
                                url_active = '<span class="color_red">链接失效</span>';
                            }
                            data_main +=`<tr data-id="${data_box[i].Id}">
                                            <td>${data_box[i].MaterialTitle}</td>
                                            <td>${data_box[i].MaterialTypeName}</td>
                                            <td><img class ='set_img' src="${service}${data_box[i].CoverImg}"></td>
                                            <td>${data_box[i].AllBrowse}</td>
                                            <td>${data_box[i].AllShare}</td>
                                            <td>${url_active}</td>
                                            <td>
                                                <a class ="btn_channel Reset_edit  btn_blue edit_tab" data-id="${data_box[i].Id}" >编辑</a>
                                                <a class ="btn_channel Reset_preview btn_blue" data-id="${data_box[i].Id}" >预览</a>
                                                <a class ="btn_channel  btn_blue set_tab" data-id="${data_box[i].Id}" title="切换链接状态"><span class ="fa fa-refresh"></span></a>
                                               ${data_box[i].DeleteIsable == '1' ?`<a class ="btn_channel  btn_red set_del" data-id="${data_box[i].Id}" >删除</a>`: `<a class ="btn_channel btn_red modal_Nodel" title="${data_box[i].DisplayName}" data-id="${data_box[i].Id}" >删除</a>`}
                                            </td>
                                        </tr>`
                        }
                        $('#I_department tbody').html(data_main);
                        $('#I_TotalPage').html(data.AppendData.TotalPage);
                        $("#I_pageSize").html(data_length);
                        laypage_up(page_count);

                    }else {
                        ErrorBox(data.Message);
                    }
                }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                    hideLoad();
                    ErrorBox('暂无数据内容');
                }
            })
          
        }

        $('#search_button').click(function () {
            GetAppendData();
        })

        //初始数据
        try {
            GetAppendData()//获取初始表数据
        } catch (err) {
        }

        //分页
        function laypage_up(){
            layui.use(['laypage', 'layer'], function(){
                var laypage = layui.laypage
                ,layer = layui.layer;
                laypage.render({
                    elem: 'layui_page'
                    ,count: page_count
                    ,limit: 10
                    , curr: currentPage || 1
                    ,layout: ['count', 'prev', 'page', 'next', 'skip']
                    ,jump: function(obj, first){
                        currentPage = obj.curr;
                        if(!first){//首次不执行
                            GetAppendData();

                        }

                        }
                });
            })
        }

        //排序
        $('body').on('click', '.SORT_Order', function () {
            if ($(this).attr('data-order') == '0') {
                $(this).attr('data-order', '1')
                $(this).addClass('SORT_rise').removeClass('SORT_drop');
                $(this).siblings().removeClass('SORT_drop').removeClass('SORT_rise');
                $(this).siblings().attr('data-order', '0');
            } else if ($(this).attr('data-order') == '1') {
                $(this).attr('data-order', '2')
                $(this).addClass('SORT_drop').removeClass('SORT_rise');
                $(this).siblings().removeClass('SORT_drop').removeClass('SORT_rise');
                $(this).siblings().attr('data-order', '0');
            } else {
                $(this).attr('data-order', '0')
                $(this).addClass('SORT_Order').removeClass('SORT_drop');
                $(this).siblings().removeClass('SORT_drop').removeClass('SORT_rise');
                $(this).siblings().attr('data-order', '0');
            }
            GetAppendData();
        })

        //删除按钮点击
        $('body').on('click', '.set_del', function () {
            showLoad();
            var _this = $(this);
            var del_data = _this.attr('data-id');
            var r = confirm("确定删除？")
            if (r == true) {
                //ajax 删除
                $.ajax({
                    type: 'POST',
                    url: APIS.DeleteChannelMaterial + '/' + del_data,
                    dataType: "json",
                    success: function (data) {
                        hideLoad();
                        if (data.ResultType == 200) {
                            SuccessBox(data.Message);
                            GetAppendData();
                          
                        }else {
                            ErrorBox(data.Message);
                        }
                    }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                        hideLoad();
                    }
                })
            }
        })

    

    //切换用户状态
        $('body').on('click', '.Reset_preview', function () {
            showLoad();
        var dataId = $(this).attr('data-id');//用户id
        $.ajax({
            type: "get",
            url: APIS.GetQRcodeUrlByZL + '/' + dataId,
            dataType: "json",
            success: function (result) {
                hideLoad();
                var data = result;
                if (data.ResultType == 200) {
                    $('.I_QRCode_from').html('<img src="' + service + data.AppendData + '">')
                    ShowUI('QRCode_Modal')
                } else {
                    ErrorBox(data.Message);
                }
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                hideLoad();
            }
        });
    })
    //预览二维码
        $('body').on('click', '.set_tab', function () {
            showLoad();
        var dataId = $(this).attr('data-id');//用户id
        $.ajax({
            type: "post",
            url: APIS.ToggleStatusByZL + '/' + dataId,
            dataType: "json",
            success: function (result) {
                hideLoad();
                var data = result;
                if (data.ResultType == 200) {
                    SuccessBox(data.Message);
                    GetAppendData();
                } else {
                    ErrorBox(data.Message);
                }
            }, error: function (XMLHttpRequest, textStatus, errorThrown) {
                hideLoad();
            }
        })
    })

   
    </script>
</body>

</html>