
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<button id="btn_export">导出</button>
      <table border="1">
          <tr>
              <th>课程名称</th>
              <th>课时</th>
              <th>主讲老师</th>
          </tr>
          <tr>
              <td>股权激励</td>
              <td>8小时</td>
              <td>李老师</td>
          </tr>     
          <tr>
              <td>小资讯</td>
              <td>3</td>
              <td>张老师</td>
          </tr>                    
      </table>

    <script>
        $("#btn_export").click(function () {
            var PageSize = 2;
            var pageindex = currentpage;
        })
    </script>*@
</body>
</html>
